@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');



html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Open Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::placeholder{
    color: #AEBCCF;
}

.btn{
    padding: 1rem 2.4rem;
    font-size: 1.3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.require-sb{
    color: red !important;
    font-weight: 700;
}

.h-100{
    height: 100%;
}

.text-bold{
    font-weight: 600 !important;
    font-size: 1.5rem;
    
}

/*Guest*/



.guest__name{
    color: #26ade4;
    text-decoration: none;
}

.guest__mail,
.guest__name,
.guest__title,
.door-lock__title,
.stay-date__title,
.pin-code__title,
.balance-info__title,
.balance-aside-content__title,
.comment-action__title,
.acommondations__header-title,
.orders__header-title,
.guest-action__title,
.bookings-title,
.accommodation-options__header-title,
.accommodation-vat__header-title
{
    font-weight: 500;
    font-size: 1.5rem;
    color: #8d8d8d;
}
.guest__info-photo {
    width: 5.5rem;
    height: 5.5rem;
}

.guest__mail{
    color: #AEBCCF;
}

.guest,
.door-lock,
.stay-date,
.pin-code,
.balance,
.comment,
.acommodations__wrapper,
.orders__wrapper{
    border: 1px solid #e7ebf1;
    border-radius: 2px;
    background-color: #fff;
    padding: 2.2rem;
}



.stay-date,
.comment,
.orders__wrapper{
    padding-top: 1.8rem;
}
.balance{
    padding-top: 2.5rem;
}
.guest__change{
    color: #26ade4;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 500;
}

.guest__change-btn{
    background-color: #26ade4;
    border-radius: 2px;
    border: 1px solid transparent;
}

.guest__change-btn > i{
    color: #fff;
    font-weight: 700;
    padding: 0.8rem;
}

.guest__change-btn:hover{

    background-color: #fff;
    border: 1px solid #26ade4;
    
}
.guest__change-btn:hover > i {
    color: #26ade4;
}

.guest__action{
    cursor: pointer;
    position: relative;
}

.guest__action:hover .guest__action-menu{
    display: block;
}

.guest__action-menu{
    position: absolute;
    list-style: none;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 3px 3px 0 #e5e4e4;
    top: 2rem;
    display: none;
    animation: actionItem linear .3s;
    z-index: 1;
}

@keyframes actionItem {
    from{
        opacity: 0;
        transform: translateY(-2rem);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.guest__action-menu::before{
    position: absolute;
    content: '';
    width: 2.8rem;
    height: 2rem;
    right: 0;
    top: -1rem;
}

.action-menu__item{
    width: 18rem;
    height: 2rem;
    padding: 0.8rem 1.5rem;
    box-sizing: initial;
    font-size: 1.3rem;
}

.action-menu__item:hover{
    background-color: #e7ebf1;
}

.guest__action > i {
    font-size: 2rem;
    color: #aebccf; 
}


.guest:first-child .guest__wrapper{
    padding-bottom: 6rem !important;
}
.door-lock__title{
    color: #8d8d8d;
}
.help-icon
{
    color: #26ade4;
    font-size: 1.6rem;
    cursor: pointer;
}
.door-lock__input-pin{
    border: 1px solid #e7ebf1;
    padding: 1rem 0.8rem;
    outline: none;
}



.door-lock__help{
    position: relative;
    cursor: pointer;
}

.door-lock__help-info{
    position: absolute;
    padding: 1.5rem;
    width: 27rem;
    height: 6rem;
    line-height: 2rem;
    font-size: 1.3rem;
    font-weight: 400;
    box-shadow: 0 3px 3px 0 #e5e4e4;
    background-color: #fff;
    box-sizing: unset;
    top: 2.2rem;
    left: -11rem;
    animation: actionItem linear .3s;
    box-sizing: unset;
    display: none;
}

.door-lock__help:hover .door-lock__help-info{
    display: block;
}


.btn-send-doorCode{
    background-color: #fff;
    border: 1px solid #26ade4;
    color: #26ade4;
    border-radius: 2px;
    font-weight: 600;
}

/*Cot 2*/
.stay-date__room-number{
    background-color: #f6f7fb;
    padding: 0.8rem 1.6rem;
    border-radius: 2px;
    color: #000;
    font-size: 1.4rem;
    font-weight: 600;
    border: 1px solid #e7ebf1;
    box-shadow: 0 0 2px #f6f8fa;
}




.stay-date__check-in,
.stay-date__check-out{
    border-bottom: 1px solid #e7ebf1;
}

.stay-date__check-in,
.stay-date__check-out,
.stay-date__nights{
    padding-left: 0;
    padding-right: 0;
}


.check-in__title,
.check-out__title{
    width: 13rem;
    font-size: 1.4rem;
}
.check-in__time,
.check-out__time{
    text-decoration: none;
    color: #26ADE4;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
}
.check-in__date,
.check-out__date{
    font-size: 1.8rem;
    font-weight: 400;
    text-decoration: none;
    color: #51bde9;
}
.stay-date_nights-amount{
    font-size: 1.8rem;
    font-weight: 300;
}
.stay-date__aside-content{
    background-color: #f6f7fb;
    border-radius: 2px;
}
.stay-date__nights-title{
    font-size: 1.4rem;
}
.pin-code__text{
    font-size: 1.8rem;
    font-weight: 600;
}
.btn-copy{
    color: #26ADE4;
    font-weight: 600;
    border:  1px solid #e7ebf1;
    border-radius: 2px;
    padding: 6px 12px;
}
.btn-share-link{
    text-decoration: none;
    color: #485B78;
    font-weight: 600;
    font-size: 1.3rem;
    border:  1px solid #e7ebf1;
    border-radius: 2px;
    padding-right: 8px;
    padding-left: 8px;
}

.pin-code-help{
    position: relative;
}
.pin-code-help__content{
    position: absolute;
    padding: 1.5rem;
    background-color: #fff;
    box-shadow: 0 3px 3px 0 #e5e4e4;
    width: 27rem;
    font-size: 1.3rem;
    box-sizing: unset;
    left: -10rem;
    top: 2.6rem;
    display: none;
    animation: actionItem linear .3s;
}
.pin-code-help:hover .pin-code-help__content{
    display: block;
}

/*Cot 3*/
.balance-info__amount,
.balance-info__paid,
.balance-info__balance{
    background-color: #f6f7fb;
    padding: 0.8rem 1.6rem 0.8rem 0.8rem;
    border-radius: 6px;
    color: #000;
    font-size: 1.4rem;
    font-weight: 600;
    border: 1px solid #e7ebf1;
}
.balance-info__amount-title,
.balance-info__paid-title,
.balance-info__balance-title{
   font-weight: 500;
   font-size: 1.4rem; 
   margin-bottom: .5rem;
}

.balance-info__amount-number,
.balance-info__paid-number,
.balance-info__balance-number{
   font-size: 2rem; 
}

.edit-wrapper--open{
    position: relative;
    
}

.edit-wrapper__form{
    box-shadow: 0 1px 4px 1px rgba(0,0,0,0.08);
    position: absolute;
    border-radius: 2px;
    z-index: 1313;
    background-color: #fff;
    top: 0;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.edit-wrapper__checkbox:checked ~ .edit-wrapper__form{
    display: flex;
}

.edit-wrapper__fill{
    padding: 0.8rem;
    width: 11rem;
}

.edit-wrapper__fill-input,
.edit-wrapper__fill-currency{
    border-radius: 2px;
    font-size: 1.3rem;
    padding: 0.8rem;
    border: 1px solid #e7ebf1;
    height: 2.8rem;
}
.edit-wrapper__fill-currency{
    border-left: transparent;
}

.edit-wrapper__fill-input{
    outline: none;
    width: 100%;
}
.edit-wrapper__btn--save{
    background-color: rgba(36, 175, 232, 0.2);
    padding: 0.6rem;
    border-radius: 2px;
    color: #24afe8;
    cursor: pointer;
}
.edit-wrapper__btn--cancel{
    padding: 0.6rem;
    border-radius: 2px;
    background-color: #f6f7fb;
    color: #2B2B2B;
    cursor: pointer;
}



.balance-include__info-title{
    font-weight: 400;
}

.balance-info__balance{
    background-color: #f4fbf7;
    border: 1px solid #66be85;
}

.balance-include__info{
    background-color: #f6f7fb;
    padding: 0.8rem 1.6rem 0.8rem 0.8rem;
    border-radius: 6px;
    color: #000;
    font-size: 1.4rem;
    font-weight: 600;
    border: 1px solid #e7ebf1;
}
.btn-comment{
    background-color: #26ade4;
    border-radius: 2px;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
}

.comment-text-area{
    width: 100%;
    padding: 12px;
    font-size: 1.6rem;
    outline: none;
    resize: none;
    border-radius: 2px;
    border: 1px solid #e7ebf1;
}
.comment-text-area:hover,
.comment-text-area:focus{
    border: 1px solid #26ade4;
}

.acommodations__wrapper{
    background-color: #fff; 
}

/*Table Row 2*/

.acommondations__table-info{
    border-collapse: collapse;
    width: 100%;
    overflow-x: scroll;

}

.acommondations__table-info__header{
    background-color: #f6f7fb;
    
}
.acommondations__table-info__header > td{
    font-size: 1.4rem;
    padding: 12px;
    color: #aebccf;
    font-weight: 600;
}
.acommondations__table-info__body > tr > td{
    font-size: 1.4rem;
    padding: 1.6rem;
    font-weight: 400;
}
.acommondations__table-info__body > tr{
    border-bottom: 1px solid #e7ebf1;
}
.acommondations__total-title{
    font-size: 1.4rem;
}
.edit-wrapper_btn{
    background-color: #d3effa;
    text-decoration: none;
    color: #24afe8;
    width: 3rem;
    height: 3rem;
    display: block;
    border-radius: 2px;
    cursor: pointer;
}

.edit-wrapper_btn:hover{
    filter: brightness(90%);
}

/* Order */
.orders__info-no-order{
    width: 100px;
}

.orders__info{
    height: 25rem;
}

.orders__info-no-order-message{
    color: #AEBCCF;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
}

.btn-order{
    color: #485B78;
    border: 1px solid #e7ebf1;
    font-size: 1.3rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: 2px;
    font-weight: 600;
}
.orders-list{
    overflow-y: scroll;
}

/*Modal*/



.modal__overlay{
    position: fixed;
    inset: 0;
    background-color: rgba(157,169,186,0.8);
    display: none;
    z-index: 2;
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 55rem;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(100%);
    opacity: 0;
    transition: all .2s linear;
    z-index: 3;
    overflow-y: scroll;
}


.modal::-webkit-scrollbar{
    display: none;
}


.modal-checkbox:checked ~ .modal__overlay,
.modal-checkbox:checked ~ .modal{
    display: block;
    opacity: 1;
    transform: translateX(0);
}
.modal__content{
    padding: 0 1rem;
}

.modal__content-header__title{
    font-size: 2.4rem;
    padding: 2.4rem 0;
    text-align: center;
    line-height: 3rem;
    font-weight: 600;
}

.selection-select{ 
    padding: 1.2rem;
    border: 1px solid #e7ebf1;
    cursor: pointer;
    border-radius: 2px;
}

.modal__content-selection{
    position: relative;
}

.selection-search{
    position: absolute;
    border: 1px solid #e7ebf1;
    top: 100%;
    width: calc(100% - 1.5rem);
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.05);
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    display: none;
    z-index: 1051;

}


.selection-search-input{
    /* position: relative; */
    border: 1px solid #e7ebf1;
    border-radius: 2px;
    margin: 0.8rem 0.8rem 0 0.8rem;

}

.selection-list{
    margin-top: 0.5rem;
    list-style: none;
}

.selection-list-item:hover{
    background-color: #4cbbe9;
    color: #fff;
}

.selection-list-item{
    font-size: 1.3rem;
    color: #50627E;
    font-weight: 500;
    padding: 1rem 0.4rem;
    cursor: context-menu;
    margin-right: -1px;
}

.selection-search-keyword{
    border: none;
    outline: none;
    padding: 0.6rem;
    z-index: 6;
    -webkit-appearance: none;
    border-radius: 0;
}

.selection-search-icon{
    padding: 1.2rem;
    text-decoration: none;
    z-index: 6;
}
.selection-search-icon > i{
    font-size: 1.3rem;
    color: #aebccf;
    cursor: pointer;
}


.selection-search.selection-search--active 
{
    display: flex;
}

.selection-selected__name{
    color: #aebccf;
    font-size: 1.3rem;
}
.selection-select__icon{
    color: #24afe8;
    font-weight: 700;
}

/*modal Guest-action*/

.guest-action-create,
.guest-action-search
{
    padding: 1rem 1rem 1rem 0;
    
}

.guest-action-create > label,
.guest-action-search  > label{
    font-size: 1.4rem;
}

.guest-action-radio{
    appearance: none;
    -webkit-appearance: none;
    display: none;
}

.guest-action-radio-cs{

    min-width: 10rem;
}

.guest-action-radio__check-mark{
    width: 1.6rem;
    height: 1.6rem;
    border: 1px solid #24AFE8;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
}
.guest-action-radio__check-mark::before{
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: #24AFE8;
    transform: translate(-50%,-50%);
    visibility: hidden;
    opacity: 0;
}

.guest-action-radio:checked + .guest-action-radio__check-mark::before{
    visibility: visible;
    opacity: 1;
}

.form-fill-input{
    padding: 1.2rem;
    border: 1px solid #e7ebf1;
    cursor: text;
    border-radius: 2px;
    outline: none;
}

.form-fill-input.input-ds,
.form-fill-input.input-ds{
    cursor: no-drop;
    border: 1px solid #e7ebf1 !important;
}



.form-fill-input:hover,
.form-fill-input:focus{
    border-color: #24AFE8;
}

.form-fill{
    display: flex;
    flex-flow: column nowrap;
}

.user-action{

    padding: 1.5rem;
    border-top: .1rem solid #e7ebf1;
    background-color: #fff;
}

.btn-cancel,
.btn-save{
    border: .1rem solid #aebccf;
    min-width: 5rem;
    margin: 0 1rem;
    border-radius: 2px;
    font-weight: 500;
}

.btn-save{
    background-color:  #24AFE8;
    border-color: #24AFE8;
    color: #fff;
}
.btn-save:hover{
    filter: brightness(90%);
}


.create-field{
    display: none;
}

.form-fill-danger{
    background-color: #fdefef;
    border-radius: 3px;
    color: #ea6565;
    padding: 0.8rem;
    font-weight: 600;
    font-size: 1.2rem;
}
.form-fill-input--danger{
    border-color: #ea6565;
}


/*Booking*/
.bookings-title{

}

.bookings-info-wrapper,
.bookings-time-check__wrapper,
.accommodation-options__info,
.accommodation-vat__info{
    border: 1px solid #e7ebf1;
    border-radius: 2px;
    background-color: #fff;
    padding: 1.6rem;
}
.bookings-info__numb-text,
.bookings-info__guest-text{
    font-size: 1.3rem;
    font-weight: 400;
}

.checkIn-time,
.checkOut-time,
.accommodation___check-time{
    padding: 0.8rem 1.6rem;
    border: 1px solid #e7ebf1;
    cursor: pointer;
    border-radius: 2px;
}

.checkOut-title,
.checkIn-title{
    max-width: 10rem;
}

.checkIn-time,
.checkOut-time{
    display: inline-block;
}

.icon-cancel,
.icon-down{
    font-weight: 700;
}
.checkIn-time-text,
.checkOut-time-text{
    font-size: 1.3rem;
    margin: 0.4rem;
}
.icon-down{
    color: #24afe8;
}

.accommodation__checkbox{
    position: relative;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 0.3rem;
    margin-right: 1.6rem;
}
.checkbox-cs{
    display: none;
    appearance: none;
}

.checkbox-cs-checkmark{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #aebccf;
    cursor: pointer;
}

.checkbox-cs-checkmark::before{
    position: absolute; 
    content: '';
    top: calc(50% - 2px);
    left: 50%;
    width: 0.3rem;
    height: 0.7rem;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform:translate(-50%,-50%) rotate(45deg);
    opacity: 0;
}

.checkbox-cs:checked ~ .checkbox-cs-checkmark,
.checkbox-cs:checked ~ .checkbox-cs-checkmark::before{

    background-color:  #24AFE8;
    opacity: 1;
    animation: fadeIn .2s linear;
}

.checkbox-cs:checked ~ .checkbox-cs-checkmark{
    border-color: #24AFE8;
}

.checkbox-cs-checkmark:hover{
    border-color: #24AFE8;
}

.accommodation-check__description{
    font-size: 1.3rem;
}

.accommodation___check-time > i{
    color: #24afe8;
    font-weight: 700;
}
.accommodation__check-time__selected{
    font-size: 1.3rem;
}
.accommodation-vat-text{
    color: rgba(72, 91, 120, 0.7);
    font-size: 1.3rem;
}

/*Reservation*/

.send-link-input{
    border: 1px solid #e7ebf1;
    padding: 1rem 0.8rem;
    outline: none;
    width: 100%;
    border-radius: 0.2rem;
}

.btn-sendLink{
    background-color: #26ADE4;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    border-radius: 0.2rem;
    display: inline-block;
}

.send-link__description{
    color: rgba(72, 91, 120, 0.7);
    font-size: 1.4rem;
}
